participant-services/providers/buildingautomation/src/main/resources/buildingautomation.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://it.univaq.incipict.ems/buildingautomation"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="buildingautomation"
	targetNamespace="http://it.univaq.incipict.ems/buildingautomation">

  <wsdl:types>
    <xsd:schema targetNamespace="http://it.univaq.incipict.ems/buildingautomation">
		<xsd:element name="signalStopElevatorsRequest" type="tns:alarmInfo"/>

        <xsd:complexType name="alarmInfo">
		    <xsd:sequence>
		      <xsd:element name="alarmCode" type="xsd:string"/>
		      <xsd:element name="timestamp" type="xsd:dateTime" />
		      <xsd:element name="emergencyType" type="tns:emergencyType" />
		      <xsd:element name="areaCode" type="xsd:string" maxOccurs="unbounded" />
		    </xsd:sequence>
	  	</xsd:complexType>

		<xsd:simpleType name="emergencyType">
		    <xsd:restriction base="xsd:string">
		      <xsd:enumeration value="earthquake" />
		      <xsd:enumeration value="fire" />
		      <xsd:enumeration value="generalemergency" />
		    </xsd:restriction>
	  	</xsd:simpleType>
		
	</xsd:schema>
  </wsdl:types>

  <wsdl:message name="signalStopElevatorsRequest">
    <wsdl:part element="tns:signalStopElevatorsRequest" name="request"/>
  </wsdl:message>
 
  <wsdl:portType name="buildingautomationPT">
    <wsdl:operation name="SignalStopElevators">
      <wsdl:input message="tns:signalStopElevatorsRequest"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="buildingautomationBinding" type="tns:buildingautomationPT">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="SignalStopElevators">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="buildingautomationService">
    <wsdl:port binding="tns:buildingautomationBinding" name="buildingautomationPort">
      <soap:address location="http://localhost:9080/buildingautomation/buildingautomation"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
