participant-services/consumers/drone/src/main/resources/cdDrone.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://it.univaq.incipict.ems/cdDrone"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="cdDrone"
	targetNamespace="http://it.univaq.incipict.ems/cdDrone">

  <wsdl:types>
    <xsd:schema targetNamespace="http://it.univaq.incipict.ems/cdDrone">

		<xsd:element name="checkpointDescriptionRequest" type="tns:checkpointDescription"/>
 		<xsd:element name="livePhotogrammetryRequest" type="tns:livePhotogrammetry"/>

		<xsd:complexType name="livePhotogrammetry">
			<xsd:sequence>
				<xsd:element name="flightId" type="xsd:string" />
				<xsd:element name="photogrammetry" type="tns:photogrammetry" />
				<xsd:element name="sequence" type="xsd:integer" />
				<xsd:element name="continue" type="xsd:boolean" />
			</xsd:sequence>
		</xsd:complexType>

		<xsd:complexType name="photogrammetry">
			<xsd:sequence>
				<xsd:element name="checkpointId" type="xsd:string"/>
				<xsd:element name="metadata" type="xsd:string"/>
				<xsd:element name="photogrammetry" type="xsd:base64Binary"/>
			</xsd:sequence>
		</xsd:complexType>

		<xsd:complexType name="checkpointDescription">
			<xsd:sequence>
				<xsd:element name="flightId" type="xsd:string" />
				<xsd:element name="checkpointId" type="xsd:string" />
				<xsd:element name="status" type="tns:buildingClass" />
				<xsd:element name="sequence" type="xsd:integer" />
				<xsd:element name="continue" type="xsd:boolean" />
			</xsd:sequence>
		</xsd:complexType>

		<xsd:simpleType name="buildingClass">
			<xsd:restriction base="xsd:string">
			  <xsd:enumeration value="A"/>
			  <xsd:enumeration value="B"/>
			  <xsd:enumeration value="C"/>
			  <xsd:enumeration value="D"/>
			  <xsd:enumeration value="E"/>
			  <xsd:enumeration value="F"/>
			</xsd:restriction>
		</xsd:simpleType>

    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="livePhotogrammetryRequest">
  	<wsdl:part element="tns:livePhotogrammetryRequest" name="request"/>
  </wsdl:message>
  <wsdl:message name="checkpointDescriptionRequest">
  	<wsdl:part element="tns:checkpointDescriptionRequest" name="request"/>
  </wsdl:message>
 
  <wsdl:portType name="cdDronePT">
    <wsdl:operation name="SendLivePhotogrammetry">
      <wsdl:input message="tns:livePhotogrammetryRequest"/>
    </wsdl:operation>
    <wsdl:operation name="SendCheckpointDescription">
      <wsdl:input message="tns:checkpointDescriptionRequest"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="cdDroneBinding" type="tns:cdDronePT">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="SendLivePhotogrammetry">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SendCheckpointDescription">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="cdDroneService">
    <wsdl:port binding="tns:cdDroneBinding" name="cdDronePort">
      <soap:address location="http://localhost:8080/ode/processes/cdDrone"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
