participant-services/consumers/earlywarningsystem/src/main/resources/cdEarlywarningsystem.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://it.univaq.incipict.ems/cdEarlywarningsystem"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="cdEarlywarningsystem"
	targetNamespace="http://it.univaq.incipict.ems/cdEarlywarningsystem">

  <wsdl:types>
    <xsd:schema targetNamespace="http://it.univaq.incipict.ems/cdEarlywarningsystem">
    	<xsd:element name="signalEventRequest" type="tns:earlyWarning"/>
    	<xsd:element name="endEventRequest" type="tns:endEvent"/>
    	<xsd:element name="prepareRequest" type="xsd:string"/>

		<xsd:complexType name="earlyWarning">
			<xsd:sequence>
				<xsd:element name="eventCode" type="xsd:string"/>
				<xsd:element name="timestamp" type="xsd:dateTime"/>
				<xsd:element name="predictedMagnitude" type="xsd:float"/>
				<xsd:element name="sensorID" type="xsd:string"/>
				<xsd:element name="coordinates" type="tns:coordinates">
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>

		<xsd:complexType name="coordinates">
			<xsd:sequence>
				<xsd:element name="latitude" type="xsd:float"/>
				<xsd:element name="longitude" type="xsd:float"/>
			</xsd:sequence>
		</xsd:complexType>

		<xsd:complexType name="endEvent">
			<xsd:sequence>
				<xsd:element name="eventCode" type="xsd:string"/>
				<xsd:element name="timestamp" type="xsd:dateTime"/>
				<xsd:element name="duration" type="xsd:integer"/>
				<xsd:element name="estimatedMagnitude" type="xsd:float"/>
			</xsd:sequence>
		</xsd:complexType>
    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="prepareRequest">
    <wsdl:part element="tns:prepareRequest" name="request"/>
  </wsdl:message>
  <wsdl:message name="signalEventRequest">
    <wsdl:part element="tns:signalEventRequest" name="request"/>
  </wsdl:message>
    <wsdl:message name="endEventRequest">
    <wsdl:part element="tns:endEventRequest" name="request"/>
  </wsdl:message>
 
  <wsdl:portType name="cdEarlywarningsystemPT">
  	<wsdl:operation name="Prepare">
      <wsdl:input message="tns:prepareRequest"/>
    </wsdl:operation>
    <wsdl:operation name="SignalEvent">
      <wsdl:input message="tns:signalEventRequest"/>
    </wsdl:operation>
    <wsdl:operation name="SignalEndEvent">
      <wsdl:input message="tns:endEventRequest"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="cdEarlywarningsystemBinding" type="tns:cdEarlywarningsystemPT">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Prepare">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SignalEvent">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SignalEndEvent">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="cdEarlywarningsystemService">
    <wsdl:port binding="tns:cdEarlywarningsystemBinding" name="cdEarlywarningsystemPort">
      <soap:address location="http://localhost:8080/ode/processes/cdEarlywarningsystem"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
