participant-services/prosumers/bsa/src/main/resources/bsa.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://it.univaq.incipict.ems/bsa"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="bsa"
	targetNamespace="http://it.univaq.incipict.ems/bsa">

  <wsdl:types>
    <xsd:schema targetNamespace="http://it.univaq.incipict.ems/bsa">

		<xsd:element name="notifyAlarmingRequest" type="tns:alarmInfo"/>
		<xsd:element name="secureBuildingsRequest" type="tns:buildingList"/>
		<xsd:element name="getSignalStopElevatorsMessageInput" type="tns:instanceInfo"/>
		<xsd:element name="signalStopElevatorsRequest" type="tns:alarmInfo"/>
		<xsd:element name="getShutdownPlantsMessageInput" type="tns:instanceInfo"/>
		<xsd:element name="shutdownPlantsRequest" type="tns:buildingList"/>
		<xsd:element name="emptyResponse" type="tns:emptyResponse"/>

		<xsd:complexType name="alarmInfo">
		    <xsd:sequence>
		      <xsd:element name="alarmCode" type="xsd:string"/>
		      <xsd:element name="timestamp" type="xsd:dateTime" />
		      <xsd:element name="emergencyType" type="tns:emergencyType" />
		      <xsd:element name="areaCode" type="xsd:string" maxOccurs="unbounded" />
		    </xsd:sequence>
	  	</xsd:complexType>

		<xsd:complexType name="buildingList">
			<xsd:sequence>
			  <xsd:element name="alarmCode" type="xsd:string"/>
			  <xsd:element name="buildingCode" type="xsd:string" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>

		<xsd:simpleType name="emergencyType">
		    <xsd:restriction base="xsd:string">
		      <xsd:enumeration value="earthquake" />
		      <xsd:enumeration value="fire" />
		      <xsd:enumeration value="generalemergency" />
		    </xsd:restriction>
	  	</xsd:simpleType>

		<xsd:complexType name="instanceInfo">
			<xsd:sequence>
				<xsd:element name="instanceId" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>

		<xsd:complexType name="emptyResponse">
			<xsd:sequence/>
		</xsd:complexType>

    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="notifyAlarmingRequest">
    <wsdl:part element="tns:notifyAlarmingRequest" name="message"/>
  </wsdl:message>
  <wsdl:message name="secureBuildingsRequest">
    <wsdl:part element="tns:secureBuildingsRequest" name="message"/>
  </wsdl:message>
  <wsdl:message name="getSignalStopElevatorsMessageInput">
  	<wsdl:part element="tns:getSignalStopElevatorsMessageInput" name="request"/>
  </wsdl:message> 
  <wsdl:message name="signalStopElevatorsRequest">
    <wsdl:part element="tns:signalStopElevatorsRequest" name="response"/>
  </wsdl:message>
  <wsdl:message name="getShutdownPlantsMessageInput">
  	<wsdl:part element="tns:getShutdownPlantsMessageInput" name="request"/>
  </wsdl:message> 
  <wsdl:message name="shutdownPlantsRequest">
    <wsdl:part element="tns:shutdownPlantsRequest" name="response"/>
  </wsdl:message>
  <wsdl:message name="emptyResponse">
  	<wsdl:part element="tns:emptyResponse" name="response"/>
  </wsdl:message>

  <!-- Provider Part -->
  <wsdl:portType name="bsaPT">
    <wsdl:operation name="NotifyAlarming">
      <wsdl:input message="tns:notifyAlarmingRequest"/>
    </wsdl:operation>
    <wsdl:operation name="SecureBuildings">
      <wsdl:input message="tns:secureBuildingsRequest"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="bsaBinding" type="tns:bsaPT">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="NotifyAlarming">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SecureBuildings">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>

  <!-- Consumer Part -->
  <wsdl:portType name="bsaConsumerPT">
  	<wsdl:operation name="storeNotifyAlarmingRequest">
  	  <wsdl:input message="tns:notifyAlarmingRequest"/>
  	  <wsdl:output message="tns:emptyResponse"/>
  	</wsdl:operation>
  	<wsdl:operation name="storeSecureBuildingsRequest">
  	  <wsdl:input message="tns:secureBuildingsRequest"/>
  	  <wsdl:output message="tns:emptyResponse"/>
  	</wsdl:operation>
    <wsdl:operation name="getSignalStopElevatorsMessage">
   	  <wsdl:input message="tns:getSignalStopElevatorsMessageInput"/>
      <wsdl:output message="tns:signalStopElevatorsRequest"/>
    </wsdl:operation>
    <wsdl:operation name="getShutdownPlantsMessage">
   	  <wsdl:input message="tns:getShutdownPlantsMessageInput"/>
      <wsdl:output message="tns:shutdownPlantsRequest"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="bsaConsumerBinding" type="tns:bsaConsumerPT">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="storeNotifyAlarmingRequest">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="storeSecureBuildingsRequest">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSignalStopElevatorsMessage">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getShutdownPlantsMessage">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="bsaConsumerService">
  	<!-- Provider part binding -->
  	<wsdl:port binding="tns:bsaBinding" name="bsaPort">
      <soap:address location="http://localhost:9080/bsa/bsa"/>
    </wsdl:port>
    <!-- Consumer part binding -->
    <wsdl:port binding="tns:bsaConsumerBinding" name="bsaConsumerPort">
      <soap:address location="http://localhost:9080/bsa/consumer"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
