coordinationdelegates/cdSae/bpelContent/cdSae.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://it.univaq.incipict.ems/cdSae"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="cdSae"
	targetNamespace="http://it.univaq.incipict.ems/cdSae">

  <wsdl:types>
    <xsd:schema targetNamespace="http://it.univaq.incipict.ems/cdSae">
    	<xsd:element name="signalEventRequest" type="tns:earlyWarning"/>
    	<xsd:element name="coordinationRequest" type="tns:instanceInfo"/>
 	    <xsd:element name="prepareRequest" type="xsd:string"/>

		<xsd:complexType name="earlyWarning">
			<xsd:sequence>
				<xsd:element name="eventCode" type="xsd:string"/>
				<xsd:element name="timestamp" type="xsd:dateTime"/>
				<xsd:element name="predictedMagnitude" type="xsd:float"/>
				<xsd:element name="sensorID" type="xsd:string"/>
				<xsd:element name="coordinates" type="tns:coordinates">
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>

		<xsd:complexType name="coordinates">
			<xsd:sequence>
				<xsd:element name="latitude" type="xsd:float"/>
				<xsd:element name="longitude" type="xsd:float"/>
			</xsd:sequence>
		</xsd:complexType>

		<xsd:complexType name="instanceInfo">
			<xsd:sequence>
				<xsd:element name="instanceId" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>

    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="prepareRequest">
    <wsdl:part element="tns:prepareRequest" name="request"/>
  </wsdl:message>
  <wsdl:message name="signalEventRequest">
    <wsdl:part element="tns:signalEventRequest" name="request"/>
  </wsdl:message>
  <wsdl:message name="coordinationRequest">
    <wsdl:part element="tns:coordinationRequest" name="request"/>
  </wsdl:message>
 
  <wsdl:portType name="cdSaePT">
  	<wsdl:operation name="Prepare">
      <wsdl:input message="tns:prepareRequest"/>
    </wsdl:operation>
    <wsdl:operation name="SignalEvent">
      <wsdl:input message="tns:signalEventRequest"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="cdSaeBinding" type="tns:cdSaePT">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Prepare">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SignalEvent">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>

  <!-- Coordination -->
  <wsdl:portType name="cdSaeCoordinationPT">
    <wsdl:operation name="StepCoordinationPoint1">
      <wsdl:input message="tns:coordinationRequest"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="cdSaeCoordinationBinding" type="tns:cdSaeCoordinationPT">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="StepCoordinationPoint1">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="cdSaeService">
    <wsdl:port binding="tns:cdSaeBinding" name="cdSaePort">
      <soap:address location="http://localhost:8080/ode/processes/cdSae"/>
    </wsdl:port>
    <wsdl:port binding="tns:cdSaeCoordinationBinding" name="cdSaeCoordinationPort">
      <soap:address location="http://localhost:8080/ode/processes/cdSaeCoordination"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
