coordinationdelegates/cdShm/bpelContent/cdShm.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://it.univaq.incipict.ems/cdShm"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="cdShm"
	targetNamespace="http://it.univaq.incipict.ems/cdShm">

  <wsdl:types>
    <xsd:schema targetNamespace="http://it.univaq.incipict.ems/cdShm">

		<xsd:element name="endEventRequest" type="tns:endEvent"/>
		<xsd:element name="checkpointDescriptionRequest" type="tns:checkpointDescription"/>
 		<xsd:element name="livePhotogrammetryRequest" type="tns:livePhotogrammetry"/>
		<xsd:element name="executeVariationRequest" type="tns:executeVariationRequest"/>
		<xsd:element name="coordinationRequest" type="tns:instanceInfo"/>
    	<xsd:element name="prepareRequest" type="xsd:string"/>

		<xsd:complexType name="endEvent">
			<xsd:sequence>
				<xsd:element name="eventCode" type="xsd:string"/>
				<xsd:element name="timestamp" type="xsd:dateTime"/>
				<xsd:element name="duration" type="xsd:integer"/>
				<xsd:element name="estimatedMagnitude" type="xsd:float"/>
			</xsd:sequence>
		</xsd:complexType>

		<xsd:complexType name="livePhotogrammetry">
			<xsd:sequence>
				<xsd:element name="flightId" type="xsd:string" />
				<xsd:element name="photogrammetry" type="tns:photogrammetry" />
				<xsd:element name="sequence" type="xsd:integer" />
				<xsd:element name="continue" type="xsd:boolean" />
			</xsd:sequence>
		</xsd:complexType>

		<xsd:complexType name="photogrammetry">
			<xsd:sequence>
				<xsd:element name="checkpointId" type="xsd:string"/>
				<xsd:element name="metadata" type="xsd:string"/>
				<xsd:element name="photogrammetry" type="xsd:base64Binary"/>
			</xsd:sequence>
		</xsd:complexType>

		<xsd:complexType name="checkpointDescription">
			<xsd:sequence>
				<xsd:element name="flightId" type="xsd:string" />
				<xsd:element name="checkpointId" type="xsd:string" />
				<xsd:element name="status" type="tns:buildingClass" />
				<xsd:element name="sequence" type="xsd:integer" />
				<xsd:element name="continue" type="xsd:boolean" />
			</xsd:sequence>
		</xsd:complexType>

		<xsd:simpleType name="buildingClass">
			<xsd:restriction base="xsd:string">
			  <xsd:enumeration value="A"/>
			  <xsd:enumeration value="B"/>
			  <xsd:enumeration value="C"/>
			  <xsd:enumeration value="D"/>
			  <xsd:enumeration value="E"/>
			  <xsd:enumeration value="F"/>
			</xsd:restriction>
		</xsd:simpleType>

		<xsd:complexType name="executeVariationRequest">
			<xsd:sequence>
			  <xsd:element name="name" type="xsd:string" />
			  <xsd:element name="instanceId" type="xsd:string" />
			</xsd:sequence>
		</xsd:complexType>

		<xsd:complexType name="instanceInfo">
			<xsd:sequence>
				<xsd:element name="instanceId" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>

    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="prepareRequest">
    <wsdl:part element="tns:prepareRequest" name="request"/>
  </wsdl:message>
  <wsdl:message name="endEventRequest">
    <wsdl:part element="tns:endEventRequest" name="request"/>
  </wsdl:message>
  <wsdl:message name="livePhotogrammetryRequest">
  	<wsdl:part element="tns:livePhotogrammetryRequest" name="request"/>
  </wsdl:message>
  <wsdl:message name="checkpointDescriptionRequest">
  	<wsdl:part element="tns:checkpointDescriptionRequest" name="request"/>
  </wsdl:message>
  <wsdl:message name="executeVariationRequest">
    <wsdl:part element="tns:executeVariationRequest" name="request"/>
  </wsdl:message>
  <wsdl:message name="coordinationRequest">
    <wsdl:part element="tns:coordinationRequest" name="request"/>
  </wsdl:message>
 
  <wsdl:portType name="cdShmPT">
  	<wsdl:operation name="Prepare">
      <wsdl:input message="tns:prepareRequest"/>
    </wsdl:operation>
    <wsdl:operation name="SignalEndEvent">
      <wsdl:input message="tns:endEventRequest"/>
    </wsdl:operation>
    <wsdl:operation name="SendLivePhotogrammetry">
      <wsdl:input message="tns:livePhotogrammetryRequest"/>
    </wsdl:operation>
    <wsdl:operation name="SendCheckpointDescription">
      <wsdl:input message="tns:checkpointDescriptionRequest"/>
    </wsdl:operation>
    <wsdl:operation name="ExecuteVariation">
      <wsdl:input message="tns:executeVariationRequest"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="cdShmBinding" type="tns:cdShmPT">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Prepare">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
     <wsdl:operation name="SignalEndEvent">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SendLivePhotogrammetry">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SendCheckpointDescription">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ExecuteVariation">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>

  <!-- Coordination -->
  <wsdl:portType name="cdShmCoordinationPT">
    <wsdl:operation name="StepCoordinationPoint1">
      <wsdl:input message="tns:coordinationRequest"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="cdShmCoordinationBinding" type="tns:cdShmCoordinationPT">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="StepCoordinationPoint1">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="cdShmService">
    <wsdl:port binding="tns:cdShmBinding" name="cdShmPort">
      <soap:address location="http://localhost:8080/ode/processes/cdShm"/>
    </wsdl:port>
    <wsdl:port binding="tns:cdShmCoordinationBinding" name="cdShmCoordinationPort">
      <soap:address location="http://localhost:8080/ode/processes/cdShmCoordination"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
