providers/civilprotection/src/main/resources/civilprotection.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://it.univaq.incipict.ems/civilprotection"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="civilprotection"
	targetNamespace="http://it.univaq.incipict.ems/civilprotection">

  <wsdl:types>
    <xsd:schema targetNamespace="http://it.univaq.incipict.ems/civilprotection">
    	<xsd:element name="interventionPlanRequest" type="tns:interventionPlan"/>
    	<xsd:element name="interventionPlanUpdateRequest" type="tns:interventionPlan"/>
    	<xsd:element name="buildingDataRequest" type="tns:buildingDataList"/>
    	<xsd:element name="notificationRequest" type="tns:notification"/>

		<xsd:complexType name="placeInfo">
			<xsd:sequence>
				<xsd:element name="placeID" type="xsd:string" />
				<xsd:element name="buildingClass" type="tns:buildingClass" />
				<xsd:element name="peopleCounted" type="xsd:integer" />
			</xsd:sequence>
		</xsd:complexType>

		<xsd:complexType name="interventionPlan">
		  <xsd:sequence>
		    <xsd:element name="alarmCode" type="xsd:string"/>
		    <xsd:element name="highestPriority" minOccurs="0">
		      <xsd:complexType>
		        <xsd:sequence>
		          <xsd:element name="placeInfos" type="tns:placeInfo" maxOccurs="unbounded"/>
		        </xsd:sequence>
		      </xsd:complexType>
		    </xsd:element>
		    <xsd:element name="mediumPriority" minOccurs="0">
		      <xsd:complexType>
		        <xsd:sequence>
		          <xsd:element name="placeInfos" type="tns:placeInfo" maxOccurs="unbounded"/>
		        </xsd:sequence>
		      </xsd:complexType>
		    </xsd:element>
		    <xsd:element name="lowestPriority" minOccurs="0">
		      <xsd:complexType>
		        <xsd:sequence>
		          <xsd:element name="placeInfos" type="tns:placeInfo" maxOccurs="unbounded"/>
		        </xsd:sequence>
		      </xsd:complexType>
		    </xsd:element>
		  </xsd:sequence>
		</xsd:complexType>

		  <xsd:complexType name="buildingDataList">
		  	<xsd:sequence>
		  	  <xsd:element name="alarmCode" type="xsd:string"/>
		  	  <xsd:element name="buildingData" type="tns:buildingData" maxOccurs="unbounded"/>
		  	</xsd:sequence>
	  	</xsd:complexType>
		
		<xsd:complexType name="buildingData">
			<xsd:sequence>
			  <xsd:element name="buildingID" type="xsd:string"/>
			  <xsd:element name="status" type="tns:buildingClass"/>
			</xsd:sequence>
		</xsd:complexType>

		<xsd:complexType name="notification">
			<xsd:sequence>
			    <xsd:element name="alarmCode" type="xsd:string"/>
				<xsd:element name="type" type="xsd:string" />
				<xsd:element name="text" type="xsd:string" />
			</xsd:sequence>
		</xsd:complexType>

		  <xsd:simpleType name="buildingClass">
		    <xsd:restriction base="xsd:string">
		      <xsd:enumeration value="A" />
		      <xsd:enumeration value="B" />
		      <xsd:enumeration value="C" />
		      <xsd:enumeration value="D" />
		      <xsd:enumeration value="E" />
		      <xsd:enumeration value="F" />
		    </xsd:restriction>
		  </xsd:simpleType>
	</xsd:schema>
  </wsdl:types>

  <wsdl:message name="interventionPlanRequest">
    <wsdl:part element="tns:interventionPlanRequest" name="request"/>
  </wsdl:message>
  <wsdl:message name="interventionPlanUpdateRequest">
    <wsdl:part element="tns:interventionPlanUpdateRequest" name="request"/>
  </wsdl:message>
  <wsdl:message name="buildingDataRequest">
  	<wsdl:part element="tns:buildingDataRequest" name="request"/>
  </wsdl:message>
  <wsdl:message name="notificationRequest">
  	<wsdl:part element="tns:notificationRequest" name="request"/>
  </wsdl:message>
 
  <wsdl:portType name="CivilProtectionPT">
    <wsdl:operation name="SendInterventionPlan">
      <wsdl:input message="tns:interventionPlanRequest"/>
    </wsdl:operation>
    <wsdl:operation name="UpdateInterventionPlan">
      <wsdl:input message="tns:interventionPlanUpdateRequest"/>
    </wsdl:operation>
    <wsdl:operation name="SendBuildingData">
      <wsdl:input message="tns:buildingDataRequest"/>
    </wsdl:operation>
    <wsdl:operation name="SendNotification">
      <wsdl:input message="tns:notificationRequest"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="CivilProtectionBinding" type="tns:CivilProtectionPT">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="SendInterventionPlan">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="UpdateInterventionPlan">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SendBuildingData">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SendNotification">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="civilprotectionService">
    <wsdl:port binding="tns:CivilProtectionBinding" name="CivilProtectionPort">
      <soap:address location="http://localhost:9080/civilprotection/civilprotection"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
