providers/cityalarming/src/main/resources/cityalarming.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://it.univaq.incipict.ems/cityalarming"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="cityalarming"
	targetNamespace="http://it.univaq.incipict.ems/cityalarming">

  <wsdl:types>
    <xsd:schema targetNamespace="http://it.univaq.incipict.ems/cityalarming">
    	<xsd:element name="activateAlarmRequest" type="tns:alarmInfo"/>

        <xsd:complexType name="alarmInfo">
		    <xsd:sequence>
		      <xsd:element name="alarmCode" type="xsd:string"/>
		      <xsd:element name="timestamp" type="xsd:dateTime" />
		      <xsd:element name="emergencyType" type="tns:emergencyType" />
		      <xsd:element name="areaCode" type="xsd:string" maxOccurs="unbounded" />
		    </xsd:sequence>
	  	</xsd:complexType>

		<xsd:simpleType name="emergencyType">
		    <xsd:restriction base="xsd:string">
		      <xsd:enumeration value="earthquake" />
		      <xsd:enumeration value="fire" />
		      <xsd:enumeration value="generalemergency" />
		    </xsd:restriction>
	  	</xsd:simpleType>
    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="activateAlarmRequest">
    <wsdl:part element="tns:activateAlarmRequest" name="request"/>
  </wsdl:message>
 
  <wsdl:portType name="cityalarmingPT">
    <wsdl:operation name="ActivateAlarm">
      <wsdl:input message="tns:activateAlarmRequest"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="cityalarmingBinding" type="tns:cityalarmingPT">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ActivateAlarm">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="cityalarmingService">
    <wsdl:port binding="tns:cityalarmingBinding" name="cityalarmingPort">
      <soap:address location="http://localhost:9080/cityalarming/cityalarming"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
